

body {
    background-color: #afe1c2;
}

.introducingText {
    text-align: center;
}

.cell {
    width: 132px;
    height: 132px;
    border: 1px solid wheat;
    background-color: rgb(246, 234, 213);
    box-shadow: 0 0 0 3px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 250px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    margin: auto;
}

.btnRestart {
    display: block;
    margin: 20px auto;
    cursor: pointer;
  --b: 3px; 
  --s: .45em; 
  --color: #000000;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnRestart:hover,
.btnRestart:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.btnRestart:active {
  background: var(--color);
  color: #fff;
}

.image {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.playerTurn{
    text-align: center;
    font-size: 25px;
    margin: 10px auto;
    font-family: 'Inknut Antiqua', serif;
}

